<center><h1>Association_index_page & Author_contoller</h1>
<table>
	<tr>
		<th> To view Authors table click here.</th>
		<th>To view Books table click here.</th>
		<th>To view Supplier table click here.</th>
		<th>To view Accounts table click here.</th>
	</tr>
</table>
</center>